#grid-floats{
    
    content: "";
    clear: both;
    display: table;
    border-style: solid;
    border-color: #000000;
    border-width: 0.5em;
    align-items:  stretch;
}



.grid-item{
    float: left;
    width: 29%;
    margin: 1em;
    padding: 1em;
    border-style: solid;
    border-color: #000000;
    border-width: 0.1em;
    border-radius: 3%;
}



#grid-flex{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-color: #000000;
    border-width: 0.5em;
    align-items:  stretch;
}




section{
    padding-bottom: 7em;
}




img {
    width: 20%;
    border-style: solid;
    border-color: #3d2020;
    border-width: 0.2em;
    border-radius: 30%;

}



h1{
    color: #3d2020;
    font-size: 5em;
    font-family: Geneva;
    text-align: center;
}



h2{
    color: #3d2020;
    font-size: 2em;
    font-family: Verdana;
}



h3{
    color: #3d2020;
    font-size: 1em;
    font-family: cursive;
}



p{
    color: #23212c;
    font-family: 'Lucida Sans';
}