#grid-floats{
    
    
    clear: both;
    display: table;
    border: solid #000000 0.5em ;
    align-items:  stretch;
    list-style: none;
    margin: 0 auto;
    padding: 1px;
}


#grid-flex{
    clear: both;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    border: solid #000000 0.5em ;
    align-items:  stretch;
    list-style: none;
    
}




.grid-item{
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 1em;
    border: solid #000000 0.1em ;
    border-radius: 3%;
}

@media (min-width: 300px) {
    .grid-item {
        width: 50%;
        height: 400px;
    }
    .grid-item:first-child{
        width: 100%;
        height: 300px;
    }
}
@media (min-width: 600px) {
    .grid-item {
        width: 33%;
        height: 600px;
    }
    .grid-item:first-child{
        width: 50%;
        height: 400px;
    }
    .grid-item:nth-child(2){
        width: 50%;
        height: 400px;
    }
}

@media (min-width: 900px) {
    .grid-item {
        width: 25%;
        height: 400px;
    }
    .grid-item:first-child{
        width: 50%;
        height: 400px;
    }
    .grid-item:nth-child(2){
        width: 25%;
        height: 400px;
    }
    .grid-item:nth-child(3){
        width: 25%;
        height: 400px;
    }
   
}









section{
    padding-bottom: 7em;
}




img {
    
    width: 20%;
    border-style: solid;
    border-color: #3d2020;
    border-width: 0.2em;
    border-radius: 30%;

}



h1{
    color: #3d2020;
    font-size: 5em;
    font-family: Geneva;
    text-align: center;
}



h2{
    color: #3d2020;
    font-size: 2em;
    font-family: Verdana;
}



h3{
    color: #3d2020;
    font-size: 1em;
    font-family: cursive;
}



p{
    color: #23212c;
    font-family: 'Lucida Sans';
}