body{
  background: #fff;
  width: 60%;
  height: auto;
  margin: 0 auto;
  border: 0.2em solid #fff;
}




#box-container {
  clear: both;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

}



#headdiv {
  margin: 0 auto;
  background-color: #fff;
  width: 100%;
  height: 2.5%;
  display: flex;
  flex-direction: column;
}

#scoreboard{
  padding-top: 2em;
  
  width: 30%;
  height: 25%;
  background-color: #ffffff;
  margin: 0 auto;
  text-align: center !important;
  margin-bottom: 1em;
  border-bottom: solid 0.1em #EFEFEF;
}

#site-header{
  width: 100%;
  height: 40%;
  background-color: #ffffff;
  text-align: center;
}

#menu__section{
  width: 100%;
  height: 35%;
  background-color: #ffffff;
  text-align: center;
}
/*
.menu__footer{
  width: 92%;
  height: 98%;
  margin: 1% 1% 1% 1%;
  background-color: #ffffff;
  text-align: left;
}*/
.site-footer__list{
  list-style: none;
  width: 92%;
  height: 98%;
  margin: 1% 1% 1% 1%;
  background-color: #ffffff;
  text-align: left;
}


#bodydiv {
  background-color: #fff;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}



#bodydiv2 {
  margin: 0 auto;
  background-color: #fff;
  width: 100%;
  height: 2.5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.slide {
  width: 23%;
  height: 98%;
  margin: 1% 1% 1% 1%;
}

#footdiv {
  background-color: #fff;
  width: 100%;
  height: 17em;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  border-bottom: solid 0.1em #EFEFEF;
}


.footList{
  width: 23%;
  height: 98%;
  margin: 1% 1% 1% 1%; 
  background-color: #fff;
  font-size: 100% !important;
}

#footer{
  margin: 0 auto;
  background-color: #ffffff;
  width: 100%;
  height: 2.5%;
}


.img-overlay__bottom {
  width: 100%;
  height: 60%;
  
  top: 0px;
  left: 0px;
}

.img-overlay {
  width: 50%;
  height: 50%;
}



#box-1 {
  background-color: #fff;
  width: 32%; 
  height: 100%;
  display: flex;
  flex-direction: column;
  margin:   1% 1% 1% 1%;
}

#box-1 .article{
  width: 100%;
  height: auto;
  background-color: #fff;
 /* float: left;*/
  margin: 0;
  border-bottom: solid 0.1em #EFEFEF;
  padding: 0.1em;
  
}

.group{
  float: left;
}

.story  {
  width: 100%;
  float: left;
  text-align: left;
  margin: 0 1em 1em 0;
}

.imgStory{
  float: left;
  margin-bottom: 3em;
  margin-right: 0.5em;
}

#box-2 {
  background-color: #fff;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin:   1% 1% 1% 1%;
}

#box-2 .article{
  width: 100%;
  height: auto;
  background-color: #fff;
 /* float: left;*/
  margin: 0;
  border-bottom: solid 0.1em #EFEFEF;
  padding: 0.1em;
  font-size: 100%;
  
}

.topBottomBorder{
  border-bottom: solid 0.1em #EFEFEF;
  border-top: solid 0.1em #EFEFEF;
}


#box-3 {
  background-color: #fff;
  width: 32%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin:   1% 1% 1% 1%;
}

#box-3 .article{
  width: 100%;
  height: auto;
  background-color: #fff;
 /* float: left;*/
  margin: 0;
  border-bottom: solid 0.1em #EFEFEF;
  padding: 0.1em;
  
}


#menu__section ul li{
  /*
  
    */
  list-style: none;
  display: inline-block;
  padding: 2px;
  

}


ol li{
  /*
  
    */
  list-style: none;
  border-top: solid 0.1em #EFEFEF;
  padding: 0.7em;;
  

}





hr {
  margin: 20px 0;
  border-style: solid;
  opacity: 0.1;
  width: 15%;
}





.takeover-menu__item{
  padding:5px 0;
  padding:0.5rem 0
}

.takeover-menu__link{
  color:#000;
  padding-bottom:2px;
  border-bottom:1px solid #000;
  text-decoration:none;
  padding-bottom:0;
  border-bottom:none;
  font-size:1em;
  font-family:Helvetica, Arial, sans-serif;
  line-height:1.4;
  padding: 0.8em;
  font-weight:800
}

.menu__link{
  text-decoration:none;
  color: #000;
}

.menu__link:hover{
  color: rgb(104, 103, 103);
}


p{
  font-weight:800
}


.takeover-menu__link:hover{
  color: rgb(104, 103, 103);
}


.scoreboard__logo {
  float: left;
  width: 25px;
  height: 25px;
  margin-right: 0.6em;
  margin-left: 2em;
  background-image: url(http://c.o0bg.com/rw/bg-images/png/sport-team-logos-2x.png);
  background-repeat: no-repeat;
  background-size: 115px;
}


.stamp {
  color: #9B1417;
  font: normal 11.5px Helvetica, Arial, sans-serif;
  margin-left: 0.5em;
  text-transform: none;
  white-space: nowrap;
}

.hed-cat {
  color: #9B1518;
  font: normal 1em/1.3 Helvetica, Arial, sans-serif;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-bottom: .4em;
  margin-left: 5em;
  font-size: 50%;
}






.footerCopyright {
  width: 100%;
  clear: both;
  padding-top: 10px;
  padding-top: 1rem;
  border-top: 1px solid #dddddd;
  color: #444444;
  text-align: center;
  font-size: 9pt;
  font-size: 1.14rem;
  font-family: "Benton Sans", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;
}

.site-footer__list-item{
  font-size: 100%;
}







@media (min-width: 420px) {
  #headdiv{
    display: none;
  }



  #footdiv{
    height: 75em;
  } 
  .footList{
    height: 23%;
    width  : 98%;
    font-size: 150% !important;  
 }
  .site-footer__list-item{
    border-bottom: solid 1px #EFEFEF;
    border-top: solid 1px #EFEFEF;
    padding: 0;
  }



  .slide{
    width: 98%;
    height: 23%;
    }



    #box-1{
      width: 98%;
      height: 50%;
      margin:   1% 1% 1% 1%;
    }
    #box-2{
      width: 98%;
      height: 30%;
      margin:   1% 1% 1% 1%;
    }
    #box-3{
      width: 98%;
      height: 20%;
      margin:   1% 1% 1% 1%;
    }
}


@media (min-width: 600px) {
  #headdiv{
    display: none;    
  }


  #footdiv{
    height: 40em;
  }
  .footList{
    width: 46%;
    height: 46px;
    font-size: 100% !important;
   
  }
  .site-footer__list-item{
    border: 0;
    padding: 1px;
  }









  .slide{
    width: 46%;
    height: 46%;
    }



    #box-1{
      width: 98%;

      height: 50%;
      margin:   1% 1% 1% 1%;
    }
    #box-2{
      width: 40%;
      height: 50%;
      margin-right: 2px;
    }
    #box-3{
      width: 40%;
      height: 50%;
      margin-left: 2px;
    }



}




@media (min-width: 800px) {
  #headdiv{
    display: block;
  }


  #footdiv{
    height: 27em;
  }
  .footList{
   width: 23%;
   height: 98%;
   font-size: 100% !important;
  } 
  .site-footer__list-item{
    border: 0;
    padding: 1px;
  }




  .slide{
  width: 23%;
  height: 98%;
  }






  #box-1{
    width: 32%;
    height: 100%;
    margin:   1% 1% 1% 1%;
  }
  #box-2{
    width: 20%;
    height: 100%;
    margin:   1% 1% 1% 1%;
  }
  #box-3{
    width: 32%;
    height: 100%;
    margin:   1% 1% 1% 1%;
  }



}


